# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Project specific
.cache/
output/
*.csv
*.json
*.png

# Distribution / packaging
dist/
build/
*.egg-info/

# Testing
.coverage
coverage/
.pytest_cache/
junit.xml

# IDE
.idea/
.vscode/
*.swp
*.swo
