# Please do not use this ignore file to define platform specific files.
#
# For these purposes create a global .gitignore file, which is a list of rules
# for ignoring files in every Git repository on your workstation.
#
# https://help.github.com/articles/ignoring-files/#create-a-global-gitign

# Python
__pycache__
*.py[cod]
.venv

# Testing
/coverage
/.pytest_cache
/junit.xml

# Project specific
/output
/.cache
/.poetry

*.csv

# Distribution / packaging
/dist

# Documentation
/docs/build
